/*	Colors:
	- hasrh bg color: 	#1B78BC;
	- soft bg color:	#F7FAFA;
	- border:			
	- h1-h6: 			
	- dark font color: 	#365899;
*/

/*	 Core	*/
html {
	color: #365899;
	font-family: arial;
	padding: 1vh 5vw 2vh 5vw;
}
body {
	background-color: #1B78BC;
	background-image: url(../images/harshbg.png);
	display: block;
	margin: auto;
	max-width: 975px;
    width: 100%;
}
article, footer {
	background-color: #F7FAFA;
	background-image: url(../images/softbg.png);
}
body, article, footer {
	background-position: left top;
	background-repeat: repeat;
}

/*	  Utility	*/
a {
	color: #365899;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	border-color: #365899;
	border-width: 1px;
}

/*	  Navibar	*/
nav li {
	display: inline-block;
}
nav li a {
	background-color: #c0e3f4;
	border: 2px solid #365899;
	border-radius: 15px;
	display: inline-block;
	margin: 2px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}
nav li a:hover {
	background-color: #84c7ca;
	text-decoration: underline;
}

/*	  Classes	*/
.centered {
	text-align: center;
}
.container {
	border: 2px outset #0b5394;
	border-radius: 10px;
	padding: 3px 25px 1px 25px;
}
.hightlight {
	background-color: #84c7ca;
}
.icon {
	border-radius: 8px;
	height: 5%;
	max-height: 100px;
	max-width: 100px;
	min-height: 40px;
	min-width: 40px;
	padding: 1px;
	width: 5%;
}
.icon:hover {
	border-radius: 8px;
	opacity: 0.7;
}
.logo {
	height: auto;
	max-width: 100%;
	min-width: 300px;
}

/*	  Ids	*/
#socials {
	text-align: center;
	padding-top: 10px;
}